<div id="nav" ng-controller="HeaderCtrl" class="navbar navbar-inverse" style="border-radius: 0px; margin-bottom: 0px;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">瀚华数据平台</a>

        </div>
        <div class="navbar-collapse collapse">                                            
            <ul class="nav navbar-nav">
                <li ng-class="{active: $state.includes('home')}"><a ui-sref='home'>首页</a></li>
                <li  ng-class="{active: $state.includes('reports')}" ng-show="isAdmin()"><a ui-sref='reports'>报表管理</a></li>
                <li  ng-class="{active: $state.includes('users')}" ng-show="isAdmin()"><a ui-sref='users'>用户管理</a></li>            
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isAuthenticated()"><a><i class="glyphicon glyphicon-user"></i> 欢迎 {{currentUser().displayName}}</a></li>
                <li ng-show="isAuthenticated()" ng-click="logout()" ><a href=""><i class="glyphicon glyphicon-log-out"></i> <asp:Localize ID="Localize6" meta:resourcekey="Logout" runat="server"> 退出</asp:Localize></a></li>                                          
                <li ng-hide="isAuthenticated()" ng-click="login()"><a href=""><i class="glyphicon glyphicon-log-in"></i> 登录</a></li>                                          
            </ul>
        </div><!--/.navbar-collapse -->
    </div>               
</div>